# Import the PyPDF2 library

In [177]:
# import PyPDF4
# file = open("hdfc.pdf","rb")
# reader = PyPDF4.PdfFileReader(file)
# print(reader.numPages)
# page1 = reader.getPage(0)
# pdfdata = page1.extractText()
# pdfdata

# Reading all the pages of PDF

In [176]:
# reader.getPage
# pages1 = ''
# for i in range(0,4):
#     pages1 += reader.getPage(i).extractText()

# pages1 = pages1.replace('\n',' ')
# # pages1

# Convert into the list of data

In [1]:
# import numpy as np
# import pandas as pd

# table_list = pdfdata.split('\n')
# l = np.array_split(table_list, len(table_list)/4)
# for i in range(0,5):
#     print(l[i])

# l

In [166]:
from collections import namedtuple
Line = namedtuple('Line','Date Narration Chq value Debit Credit')
# Chq value Debit Credit Closingbalance

In [180]:
import re 

line_re = re.compile(r'(\d{2}/\d{2}/\d{2}) ([A-Z].*) (\w+\d+) (\d{2}/\d{2}/\d{2}) (\d+[\,|\.]\d+\.\d+) (\d+[\,|\.]\d+\.\d+)')
line_re.search('01/02/22 ATW-416021XXXXXX5125-E1AWAH01-AHMEDABAD 0000000000004010 01/02/22 100,000.00 100,000.50').group(6)
# '01/02/22 ATW-416021XXXXXX5125-E1AWAH01-AHMEDABAD HDFCR52022020595  01/02/22 100,000.00 100,22.50'.split()

'100,000.50'

In [181]:
# for line in pages.split('\n'):
#     if line_re.match(line):
# #         print(line)

In [182]:
file = "hdfc.pdf"

In [214]:
import pdfplumber
lines = []
total_check = 0

with pdfplumber.open(file) as pdf:
    pages = pdf.pages
    
    for page in pdf.pages:
        text = page.extract_text()
        
        for line in text.split('\n'):
#             print(line)
            dt = line_re.search(line)
#             print(dt)
            if dt:
                date, Narration, Chq, value, Debit, Credit  = dt.group(1), dt.group(2), dt.group(3), dt.group(4), dt.group(5), dt.group(6)
                lines.append(Line(date, Narration, Chq, value, Debit, Credit))

            else:
                pass
                
lines

[Line(Date='01/02/22', Narration='ATW-416021XXXXXX5125-E1AWAH01-AHMEDABAD', Chq='0000000000004010', value='01/02/22', Debit='10,000.00', Credit='602,066.50'),
 Line(Date='02/02/22', Narration='RTGSDR-BARB0VJTTEJ-PRAJIPROJECTSLLP-N', Chq='HDFCR52022020294', value='02/02/22', Debit='200,000.00', Credit='402,066.50'),
 Line(Date='03/02/22', Narration='RTGSDR-BARB0VJTTEJ-PRAJIPROJECTSLLP-N', Chq='HDFCR52022020394', value='03/02/22', Debit='200,000.00', Credit='972,981.50'),
 Line(Date='03/02/22', Narration='IBFUNDSTRANSFERDR-59209825024478-PRAJ', Chq='MB03163751947T28', value='03/02/22', Debit='50,000.00', Credit='922,981.50'),
 Line(Date='10/02/22', Narration='RTGSDR-BARB0VJTTEJ-PRAJIPROJECTSLLP-N', Chq='HDFCR52022021095', value='10/02/22', Debit='600,000.00', Credit='842,908.50'),
 Line(Date='10/02/22', Narration='NEFTDR-BARB0MANADI-SAYEDMAJID-NETBANK,', Chq='N041221828445149', value='10/02/22', Debit='25,000.00', Credit='817,908.50'),
 Line(Date='11/02/22', Narration='NEFTDR-BKID0002040-TVASHTAINFRASTRUCTU', Chq='N042221830417324', value='11/02/22', Debit='26,000.00', Credit='791,908.50'),
 Line(Date='14/02/22', Narration='NEFTDR-CBIN0283326-KOPPOLUPRANATHI-NET', Chq='N045221833573359', value='14/02/22', Debit='10,500.00', Credit='781,408.50'),
 Line(Date='14/02/22', Narration='NEFTDR-SBIN0021159-CHEPURIANURADHA-NE', Chq='N045221833579750', value='14/02/22', Debit='14,000.00', Credit='767,408.50'),
 Line(Date='15/02/22', Narration='SIHGA4P1181A0042883927SOUTHER-15/02/22', Chq='000000000000000', value='15/02/22', Debit='1,278.00', Credit='766,130.50'),
 Line(Date='15/02/22', Narration='NEFTDR-BARB0VJTTEJ-PRAJIPROJECTSLLP-N', Chq='N046221835266590', value='15/02/22', Debit='100,000.00', Credit='665,928.50'),
 Line(Date='16/02/22', Narration='FT-DR-10422000002002-SRICHAKRATR', Chq='0000000000000528', value='16/02/22', Debit='400,000.00', Credit='552,274.50'),
 Line(Date='17/02/22', Narration='IMPS-204813112035-PRAJIPROJECTSLLP-BAR', Chq='0000204813112035', value='17/02/22', Debit='10,000.00', Credit='542,274.50'),
 Line(Date='22/02/22', Narration='NEFTDR-UBIN0802948-KAMSALINOORJAHA-NET', Chq='N053221843695790', value='22/02/22', Debit='65,148.00', Credit='970,187.50'),
 Line(Date='22/02/22', Narration='NEFTDR-UBIN0545627-SHAIKMAHABOOB-NETBA', Chq='N053221843693105', value='22/02/22', Debit='82,170.00', Credit='888,017.50'),
 Line(Date='22/02/22', Narration='NEFTDR-SBIN0021495-SRIVENKATESHWARAGA', Chq='N053221843706724', value='22/02/22', Debit='93,463.00', Credit='794,554.50')]

In [215]:
import pandas as pd
df = pd.DataFrame(lines)
a = df.loc[:,["Date","Narration","Debit","Credit"]]
a.head(50)

        Date                                Narration       Debit      Credit
0   01/02/22  ATW-416021XXXXXX5125-E1AWAH01-AHMEDABAD   10,000.00  602,066.50
1   02/02/22    RTGSDR-BARB0VJTTEJ-PRAJIPROJECTSLLP-N  200,000.00  402,066.50
2   03/02/22    RTGSDR-BARB0VJTTEJ-PRAJIPROJECTSLLP-N  200,000.00  972,981.50
3   03/02/22    IBFUNDSTRANSFERDR-59209825024478-PRAJ   50,000.00  922,981.50
4   10/02/22    RTGSDR-BARB0VJTTEJ-PRAJIPROJECTSLLP-N  600,000.00  842,908.50
5   10/02/22   NEFTDR-BARB0MANADI-SAYEDMAJID-NETBANK,   25,000.00  817,908.50
6   11/02/22   NEFTDR-BKID0002040-TVASHTAINFRASTRUCTU   26,000.00  791,908.50
7   14/02/22   NEFTDR-CBIN0283326-KOPPOLUPRANATHI-NET   10,500.00  781,408.50
8   14/02/22    NEFTDR-SBIN0021159-CHEPURIANURADHA-NE   14,000.00  767,408.50
9   15/02/22   SIHGA4P1181A0042883927SOUTHER-15/02/22    1,278.00  766,130.50
10  15/02/22    NEFTDR-BARB0VJTTEJ-PRAJIPROJECTSLLP-N  100,000.00  665,928.50
11  16/02/22         FT-DR-10422000002002-SRICHAKRATR  400,000.00  552,274.50
12  17/02/22   IMPS-204813112035-PRAJIPROJECTSLLP-BAR   10,000.00  542,274.50
13  22/02/22   NEFTDR-UBIN0802948-KAMSALINOORJAHA-NET   65,148.00  970,187.50
14  22/02/22   NEFTDR-UBIN0545627-SHAIKMAHABOOB-NETBA   82,170.00  888,017.50
15  22/02/22    NEFTDR-SBIN0021495-SRIVENKATESHWARAGA   93,463.00  794,554.50