In [1]:
import pdfplumber

In [2]:
filename="hdfc.pdf"
pdf=pdfplumber.open(filename)

In [3]:
table=pdf.pages[0].extract_table()

In [16]:
header=1
columns=list()
for column in table:
    if (column!=None and len(column)>1):
        columns.append(column)
print(columns, sep='\n')

[['Date', 'Narration', 'Chq./Ref.No.', 'ValueDt', 'WithdrawalAmt.', 'DepositAmt.', 'ClosingBalance'], ['01/02/22\n02/02/22\n02/02/22\n03/02/22\n03/02/22\n03/02/22\n04/02/22\n05/02/22\n05/02/22\n05/02/22\n05/02/22\n05/02/22\n05/02/22\n05/02/22\n05/02/22', 'ATW-416021XXXXXX5125-E1AWAH01-AHMEDABAD\nRTGSDR-BARB0VJTTEJ-PRAJIPROJECTSLLP-N\nETBANK,MUM-HDFCR52022020294165454-FORO\nJS\nNEFTCR-UTIB0000245-BPR000307051007DISB\nPRAJI-BPR000307051007PRAJIPROJECTSLL\nP-AXTB220332807357\n09111000010612-TPT-SALARYFORTHEMONTH\nOFJANUARY-ZALAMAHESHKUMAR\nRTGSDR-BARB0VJTTEJ-PRAJIPROJECTSLLP-N\nETBANK,MUM-HDFCR52022020394506364-SRIYA\nMETALS\nIBFUNDSTRANSFERDR-59209825024478-PRAJ\nIPROJECTSLLP\n50200048665631-TPT-DEC21-PNLOGISTICS\nIMPS-203611479566-TATACAPITALFINANCI-H\nDFC-XXXXXXXXXX2683-TATACAPITALLIMITED\n00600310012683-51502116\nATW-416021XXXXXX5125-E1AWAH01-AHMEDABAD\nNEFTDR-UBIN0542261-CSUGUNAKARREDDY-NE\nTBANK,MUM-N036221821489361-SEP21\nRTGSDR-PUNB0211120-MSDURGAEARTHMOVER\nS-NETBANK,MUM-HDFCR52022020595005081-SE\nP21\nNEFTDR-SBIN0005917-BNREARTHMOVERS-NET\nBANK,MUM-N036221821522505-SEP21\nNEFTDR-ICIC0007360-APTLINDSUSTRIALCOR\nP-NETBANK,MUM-N036221821533561-SEP21\n50200045378995-TPT-JST-TVASHTAINFRASTRU\nCTURELLP', '0000000000004010\nHDFCR52022020294\n165454\nAXTB220332807357\n0000000256197913\nHDFCR52022020394\n506364\nMB03163751947T28\n0000000395646705\n0000203611479566\n0000202057004659\n0000000000004810\nN036221821489361\nHDFCR52022020595\n005081\nN036221821522505\nN036221821533561\n0000000208755175', '01/02/22\n02/02/22\n02/02/22\n03/02/22\n03/02/22\n03/02/22\n04/02/22\n05/02/22\n05/02/22\n05/02/22\n05/02/22\n05/02/22\n05/02/22\n05/02/22\n05/02/22', '10,000.00\n200,000.00\n202,500.00\n200,000.00\n50,000.00\n50,225.00\n15,000.00\n125,399.00\n205,800.00\n198,594.00\n75,894.00\n50,000.00', '973,415.00\n1.00\n2,411,606.00', '602,066.50\n402,066.50\n1,375,481.50\n1,172,981.50\n972,981.50\n922,981.50\n872,756.50\n872,757.50\n3,284,363.50\n3,269,363.50\n3,143,964.50\n2,938,164.50\n2,739,570.50\n2,663,676.50\n2,613,676.50']]

In [7]:
import pandas as pd
df=pd.DataFrame(table)
# df.index=df[0]
# df=df.rename_axis(index=None)
# del df[0]
# df.columns=columns
df

,0,1,2,3,4,5,6
0,Date,Narration,Chq./Ref.No.,ValueDt,WithdrawalAmt.,DepositAmt.,ClosingBalance
1,01/02/22\n02/02/22\n02/02/22\n03/02/22\n03/02/...,ATW-416021XXXXXX5125-E1AWAH01-AHMEDABAD\nRTGSD...,0000000000004010\nHDFCR52022020294\n165454\nAX...,01/02/22\n02/02/22\n02/02/22\n03/02/22\n03/02/...,"10,000.00\n200,000.00\n202,500.00\n200,000.00\...","973,415.00\n1.00\n2,411,606.00","602,066.50\n402,066.50\n1,375,481.50\n1,172,98..."