In [2]:
from tabula import read_pdf
from tabulate import tabulate

ModuleNotFoundError: No module named 'tabulate'

In [4]:
df = read_pdf("hdfc.pdf", pages="all")
df

[        Date                                 Narration      Chq./Ref.No.  \
 0   01/02/22   ATW-416021XXXXXX5125-E1AWAH01-AHMEDABAD  0000000000004010
 1   02/02/22  RTGS DR-BARB0VJTTEJ-PRAJI PROJECTS LLP-N  HDFCR52022020294
 2        NaN  ETBANK, MUM-HDFCR52022020294165454-FOR O            165454
 3        NaN                                        JS               NaN
 4   02/02/22  NEFT CR-UTIB0000245-BPR000307051007 DISB  AXTB220332807357
 5        NaN   PRAJI-BPR000307051007 PRAJI PROJECTS LL               NaN
 6        NaN                        P-AXTB220332807357               NaN
 7   03/02/22   09111000010612-TPT-SALARY FOR THE MONTH  0000000256197913
 8        NaN               OF JANUARY-ZALA MAHESHKUMAR               NaN
 9   03/02/22  RTGS DR-BARB0VJTTEJ-PRAJI PROJECTS LLP-N  HDFCR52022020394
 10       NaN  ETBANK, MUM-HDFCR52022020394506364-SRIYA            506364
 11       NaN                                    METALS               NaN
 12  03/02/22  IB FUNDS TRANSFER DR-59209825024478-PRAJ  MB03163751947T28
 13       NaN                            I PROJECTS LLP               NaN
 14  04/02/22    50200048665631-TPT-DEC21-P N LOGISTICS  0000000395646705
 15  05/02/22  IMPS-203611479566-TATA CAPITAL FINANCI-H  0000203611479566
 16       NaN   DFC-XXXXXXXXXX2683-TATA CAPITAL LIMITED               NaN
 17  05/02/22                   00600310012683-51502116  0000202057004659
 18  05/02/22   ATW-416021XXXXXX5125-E1AWAH01-AHMEDABAD  0000000000004810
 19  05/02/22  NEFT DR-UBIN0542261-C SUGUNAKAR REDDY-NE  N036221821489361
 20       NaN         TBANK, MUM-N036221821489361-SEP21               NaN
 21  05/02/22  RTGS DR-PUNB0211120-MS DURGA EARTH MOVER  HDFCR52022020595
 22       NaN  S-NETBANK, MUM-HDFCR52022020595005081-SE            005081
 23       NaN                                       P21               NaN
 24  05/02/22  NEFT DR-SBIN0005917-BNR EARTH MOVERS-NET  N036221821522505
 25       NaN          BANK, MUM-N036221821522505-SEP21               NaN
 26  05/02/22  NEFT DR-ICIC0007360-APTL INDSUSTRIAL COR  N036221821533561
 27       NaN     P-NETBANK, MUM-N036221821533561-SEP21               NaN
 28  05/02/22  50200045378995-TPT-JST-TVASHTA INFRASTRU  0000000208755175
 29       NaN                                 CTURE LLP               NaN

     Value Dt Withdrawal Amt.  Deposit Amt. Closing Balance
 0   01/02/22       10,000.00           NaN      602,066.50
 1   02/02/22      200,000.00           NaN      402,066.50
 2        NaN             NaN           NaN             NaN
 3        NaN             NaN           NaN             NaN
 4   02/02/22             NaN    973,415.00    1,375,481.50
 5        NaN             NaN           NaN             NaN
 6        NaN             NaN           NaN             NaN
 7   03/02/22      202,500.00           NaN    1,172,981.50
 8        NaN             NaN           NaN             NaN
 9   03/02/22      200,000.00           NaN      972,981.50
 10       NaN             NaN           NaN             NaN
 11       NaN             NaN           NaN             NaN
 12  03/02/22       50,000.00           NaN      922,981.50
 13       NaN             NaN           NaN             NaN
 14  04/02/22       50,225.00           NaN      872,756.50
 15  05/02/22             NaN          1.00      872,757.50
 16       NaN             NaN           NaN             NaN
 17  05/02/22             NaN  2,411,606.00    3,284,363.50
 18  05/02/22       15,000.00           NaN    3,269,363.50
 19  05/02/22      125,399.00           NaN    3,143,964.50
 20       NaN             NaN           NaN             NaN
 21  05/02/22      205,800.00           NaN    2,938,164.50
 22       NaN             NaN           NaN             NaN
 23       NaN             NaN           NaN             NaN
 24  05/02/22      198,594.00           NaN    2,739,570.50
 25       NaN             NaN           NaN             NaN
 26  05/02/22       75,894.00           NaN    2,663,676.50
 27       NaN             NaN           NaN             NaN
 28  05/02/22       50,000.00           NaN    2,613,676.50
 29       NaN             NaN           NaN             NaN  ,
     05/02/22  FT - DR - 59110077778888 - PRAFULCHANDRA  0000000000000524  \
 0        NaN                                      NAIK               NaN
 1   05/02/22  09111000010612-TPT-RETURN-ZALA MAHESHKUM  0000000188169700
 2        NaN                                        AR               NaN
 3   05/02/22  GST/BANK REFERENCE NO: R2203632325962/CI  0220205360002404
 4        NaN                  N NO: HDFC22023600017631               NaN
 5   06/02/22  EMI 117863108 CHQ S117863108110 02221178   000000000000000
 6        NaN                                     63108               NaN
 7   08/02/22  NEFT CR-IBKL0NEFT01-CORRTECH INTERNATION  IBKL220208776737
 8        NaN  AL PVT LTD-PRAJI PROJECTS LLP-IBKL220208               NaN
 9        NaN                                    776737               NaN
 10  08/02/22  FT - DR - 10422000002002 - SRI CHAKRA TR  0000000000000526
 11       NaN                                   ANSPORT               NaN
 12  08/02/22  RTGS DR-ICIC0003240-SPM EQUIPMENTS-THALT  0000000000000525
 13       NaN                 EJ-HDFCR52022020895565908               NaN
 14  08/02/22   RTGS DR-ICIC0001120-D3R ENTERPRISES PVT  0000000000000527
 15       NaN        LTD-THALTEJ-HDFCR52022020895567863               NaN
 16  08/02/22  IMPS-203919354272-ARVIND MISHRA-ICIC-XXX  0000203919354272
 17       NaN                  XXXXX0943-SALARY ADVANCE               NaN
 18  09/02/22  IMPS-204001305849-MIHIRKUMAR PRAFULCHAND  0000204001305849
 19       NaN  RA SHAH-ICIC-XXXXXXXX2621-FOR SITE EXPEN               NaN
 20       NaN                                       SES               NaN
 21  09/02/22      POS 416021XXXXXX5117 IBIBO GROUP PVT  0000204012178949
 22  10/02/22  RTGS DR-BARB0VJTTEJ-PRAJI PROJECTS LLP-N  HDFCR52022021095
 23       NaN   ETBANK, MUM-HDFCR52022021095927858-OJAS            927858
 24       NaN                                 AND SLARY               NaN
 25  10/02/22  NEFT DR-BARB0MANADI-SAYED MAJID-NETBANK,  N041221828445149
 26       NaN           MUM-N041221828445149-BY ZALASIR               NaN
 27  11/02/22  NEFT DR-BKID0002040-TVASHTA INFRASTRUCTU  N042221830417324
 28       NaN  RE-NETBANK, MUM-N042221830417324-FOR POL               NaN
 29       NaN                                       ICY               NaN
 30  14/02/22  NEFT DR-CBIN0283326-KOPPOLU PRANATHI-NET  N045221833573359

    05/02/22.1  300,000.00    Unnamed: 0  2,313,676.50
 0         NaN         NaN           NaN           NaN
 1    05/02/22  300,000.00           NaN  2,013,676.50
 2         NaN         NaN           NaN           NaN
 3    05/02/22  576,121.00           NaN  1,437,555.50
 4         NaN         NaN           NaN           NaN
 5    06/02/22   86,663.00           NaN  1,350,892.50
 6         NaN         NaN           NaN           NaN
 7    08/02/22         NaN  1,434,500.00  2,785,392.50
 8         NaN         NaN           NaN           NaN
 9         NaN         NaN           NaN           NaN
 10   08/02/22  356,985.00           NaN  2,428,407.50
 11        NaN         NaN           NaN           NaN
 12   08/02/22  500,000.00           NaN  1,928,407.50
 13        NaN         NaN           NaN           NaN
 14   08/02/22  323,850.00           NaN  1,604,557.50
 15        NaN         NaN           NaN           NaN
 16   08/02/22  150,000.00           NaN  1,454,557.50
 17        NaN         NaN           NaN           NaN
 18   09/02/22   10,000.00           NaN  1,444,557.50
 19        NaN         NaN           NaN           NaN
 20        NaN         NaN           NaN           NaN
 21   09/02/22    1,649.00           NaN  1,442,908.50
 22   10/02/22  600,000.00           NaN    842,908.50
 23        NaN         NaN           NaN           NaN
 24        NaN         NaN           NaN           NaN
 25   10/02/22   25,000.00           NaN    817,908.50
 26        NaN         NaN           NaN           NaN
 27   11/02/22   26,000.00           NaN    791,908.50
 28        NaN         NaN           NaN           NaN
 29        NaN         NaN           NaN           NaN
 30   14/02/22   10,500.00           NaN    781,408.50  ,
    Unnamed: 0          BANK, MUM-N045221833573359-FEB22        Unnamed: 1  \
 0    14/02/22  NEFT DR-SBIN0021159-CHEPURI ANU RADHA-NE  N045221833579750
 1         NaN    TBANK, MUM-N045221833579750-RENTFEB 22               NaN
 2    15/02/22  SI HGA4P1181A0042883927 SOUTHER-15/02/22   000000000000000
 3    15/02/22  SI HGA4P046120042883734 SOUTHER-15/02/22   000000000000000
 4    15/02/22  NEFT DR-BARB0VJTTEJ-PRAJI PROJECTS LLP-N  N046221835266590
 5         NaN  ETBANK, MUM-N046221835266590-FOR MESS MP               NaN
 6    15/02/22  RTGS CR-UTIB0001530-CORRTECH INTERNATION  UTIBR52022021500
 7         NaN  AL PVT LTD-PRAJI PROJECTS LLP-UTIBR52022            294382
 8         NaN                              021500294382               NaN
 9    16/02/22  IMPS-204710309862-MAHIMA CON SANJEEV-UTI  0000204710309862
 10        NaN                 B-XXXXXXXXXXX4420-PAY NOW               NaN
 11   16/02/22  SI HGA4P011700059491293 SOUTHER-16/02/22   000000000000000
 12   16/02/22  50200007852562-TPT-SEP21-SHREEJI CONSTRU  0000000217989643
 13        NaN                                     CTION               NaN
 14   16/02/22  NEFT DR-ICIC0000205-SHREE SWAMINARAYAN E  N047221836943973
 15        NaN  NTERPRISE-NETBANK, MUM-N047221836943973-               NaN
 16        NaN                                    INV076               NaN
 17   16/02/22  RTGS DR-BARB0VJTTEJ-PRAJI PROJECTS LLP-N  HDFCR52022021697
 18        NaN  ETBANK, MUM-HDFCR52022021697346214-FOR R            346214
 19        NaN                           AJ STEEL PRISEM               NaN
 20   16/02/22  FT - DR - 10422000002002 - SRI CHAKRA TR  0000000000000528
 21        NaN                                   ANSPORT               NaN
 22   17/02/22  IMPS-204813112035-PRAJI PROJECTS LLP-BAR  0000204813112035
 23        NaN                    B-XXXXXXXXXX1360-YAKUB               NaN
 24   18/02/22  RTGS CR-BARB0VJTTEJ-PRAJI PROJECTS LLP-P  BARBR52022021800
 25        NaN  RAJI PROJECTS LLP-BARBR52022021800986241            986241
 26   18/02/22                 SELF - CHQ PAID - THALTEJ  0000000000000551
 27   20/02/22  GST/BANK REFERENCE NO: R2205132716518/CI  0220220360000528
 28        NaN                  N NO: HDFC22023600128540               NaN
 29   21/02/22  IMPS-205213376414-MIHIRKUMAR PRAFULCHAND  0000205213376414
 30        NaN  RA SHAH-ICIC-XXXXXXXX2621-FOR SITE EXPEN               NaN

    Unnamed: 2    Unnamed: 3    Unnamed: 4    Unnamed: 5
 0    14/02/22     14,000.00           NaN    767,408.50
 1         NaN           NaN           NaN           NaN
 2    15/02/22      1,278.00           NaN    766,130.50
 3    15/02/22        202.00           NaN    765,928.50
 4    15/02/22    100,000.00           NaN    665,928.50
 5         NaN           NaN           NaN           NaN
 6    15/02/22           NaN  2,375,768.00  3,041,696.50
 7         NaN           NaN           NaN           NaN
 8         NaN           NaN           NaN           NaN
 9    16/02/22    100,000.00           NaN  2,941,696.50
 10        NaN           NaN           NaN           NaN
 11   16/02/22        184.00           NaN  2,941,512.50
 12   16/02/22    490,644.00           NaN  2,450,868.50
 13        NaN           NaN           NaN           NaN
 14   16/02/22    198,594.00           NaN  2,252,274.50
 15        NaN           NaN           NaN           NaN
 16        NaN           NaN           NaN           NaN
 17   16/02/22  1,300,000.00           NaN    952,274.50
 18        NaN           NaN           NaN           NaN
 19        NaN           NaN           NaN           NaN
 20   16/02/22    400,000.00           NaN    552,274.50
 21        NaN           NaN           NaN           NaN
 22   17/02/22     10,000.00           NaN    542,274.50
 23        NaN           NaN           NaN           NaN
 24   18/02/22           NaN  1,300,000.00  1,842,274.50
 25        NaN           NaN           NaN           NaN
 26   18/02/22    134,000.00           NaN  1,708,274.50
 27   20/02/22    367,286.00           NaN  1,340,988.50
 28        NaN           NaN           NaN           NaN
 29   21/02/22     20,000.00           NaN  1,320,988.50
 30        NaN           NaN           NaN           NaN  ,
    Unnamed: 0                                       SES        Unnamed: 1  \
 0    22/02/22  CHQ PAID-MICR CTS-MU-AXIS BANK LTD BUSIN  0000000000000547
 1    22/02/22  RTGS DR-SBIN0012664-NADADI SRI LAKSHMI-T  0000000000000529
 2         NaN             HALTEJ-HDFCR52022022298596634               NaN
 3    22/02/22  NEFT DR-UBIN0802948-KAMSALI NOORJAHA-NET  N053221843695790
 4         NaN          BANK, MUM-N053221843695790-JAN22               NaN
 5    22/02/22  NEFT DR-UBIN0545627-SHAIK MAHABOOB-NETBA  N053221843693105
 6         NaN            NK, MUM-N053221843693105-JAN22               NaN
 7    22/02/22  NEFT DR-SBIN0021495-SRI VENKATESHWARA GA  N053221843706724
 8         NaN  S AGENCY NEW-NETBANK, MUM-N0532218437067               NaN
 9         NaN                                  24-JAN22               NaN
 10        NaN                      STATEMENT SUMMARY :-               NaN
 11        NaN                           Opening Balance          Dr Count
 12        NaN                                612,066.50                45
 13        NaN           Generated On: 22-Feb-2022 14:58     Generated By:
 14        NaN                                       NaN         135588024
 15        NaN                                       NaN               NaN
 16        NaN                                       NaN               NaN

    Unnamed: 2                                       Unnamed: 3    Unnamed: 4
 0    22/02/22                                        35,653.00  1,285,335.50
 1    22/02/22                                       250,000.00  1,035,335.50
 2         NaN                                              NaN           NaN
 3    22/02/22                                        65,148.00    970,187.50
 4         NaN                                              NaN           NaN
 5    22/02/22                                        82,170.00    888,017.50
 6         NaN                                              NaN           NaN
 7    22/02/22                                        93,463.00    794,554.50
 8         NaN                                              NaN           NaN
 9         NaN                                              NaN           NaN
 10        NaN                                              NaN           NaN
 11   Cr Count                                   Debits Credits   Closing Bal
 12          6                        8,312,802.00 8,495,290.00    794,554.50
 13        NaN                      Requesting Branch Code: NET           NaN
 14        NaN                                              NaN           NaN
 15        NaN  This is a computer generated statement and does           NaN
 16        NaN                           not require signature.           NaN  ]

In [8]:

df = df.dropna(axis='columns')
df

AttributeError: 'list' object has no attribute 'dropna'